body{
    font-family: 'Nunito', sans-serif;
  }

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: 
        "header"
        "content"
        "footer";
    ;
    height: 100vh;
}

.header {
    grid-area: header;
    background-color: #007bff;
    display: flex;
    align-items: center;
}

.content {
    grid-area: content;
    background-color: whitesmoke;
}

.footer {
    grid-area: footer;
    background-color: #007bff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
  
.header__item {
    color: whitesmoke;
    padding: 20px 20px 20px 20px;
    font-weight: bold;
    font-size: larger;
    justify-self: flex-start;
}

.header_item-logout {
    justify-self: flex-end;
}

.header__item-filler {
    flex-grow: 1;
}

.header__item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }

.footer__item {
    color: whitesmoke;
}

.content-overview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(650px, 1fr)); /* Where the magic happens */
    grid-auto-rows: minmax(150px, 1fr);
    grid-gap: 50px;
    margin: 20px;
}

.button {
    border-radius: 6px;
    background-color: #007bff;
    color: whitesmoke;
    margin: 8px 0;
    padding: 10px 20px;
    font-size: large;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: none;
}

.button:hover {
    background-color: #0575ec;
}

.button-danger {
    background-color: rgb(224, 37, 37);
}

.button-danger:hover {
    background-color: rgb(202, 30, 30);
}

.overviewcard {
    padding: 10px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 6px 25px rgba(0,0,0,.18), 0 0 16px rgba(0,0,0,.15);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 80px 18px 36px;
}

.row {
    align-self: center;
    flex-direction: row;
}

.overviewcard__text {
    align-self: center;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-direction: column;
}

.overviewcard__caption {
    font-weight: bold;
    font-size: larger;
}
  
.overviewcard__description {
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

h1 {

}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

textarea, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* .overviewcard:hover{
     transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0,0,0,.32), 0 4px 8px rgba(0,0,0,.26);
} */